@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  line-height: 1.5;
  font-weight: 400;
}

/* Resetujemo margine i dozvoljavamo punu širinu */
body {
  margin: 0;
  display: block; /* Vite ovde nekad stavi flex, što kvari layout */
  min-width: 320px;
  min-height: 100vh;
}

#root {
  width: 100%;
  margin: 0;
  padding: 0;
  max-width: none !important; /* Ovo je ključno - briše 1280px limit */
}

.line-clamp-2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;  
  overflow: hidden;
}

html {
  /* Visina tvog Headera (npr. 80px). Ovo sprečava da Header prekrije naslov sekcije */
  scroll-padding-top: 5rem; 
}